<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ATA Pipeline Monitor</title>
	<style>
		body {background-color: #123456;}
		.genericpanel {
			background-color: #456789;
			border: none;
			padding: 20px 20px;
			font-family: Verdana;
			font-size: 13px;
			transform: translate(-50%, -50%)
		}

		.genericpanel:hover{
			filter: brightness(85%)
		}

		.genericpanel:focus{
			filter: brightness(115%);
			outline: none
		}

	</style>
</head>
<body>

	<div id="root"></div> 
	
</body>
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
<script type="text/babel">
	
	function fetchBasics(nodenum){
		var req = new XMLHttpRequest;
		req.open("GET", "/basics?nodenum=" + nodenum)
		req.send()
			
		req.onreadystatechange = function(){
			if (this.readyState == 4 && this.status == 200){
				var text = req.responseText.replace("[", "").replace("]", "")
				text = text.replaceAll('null', '"null"')

				var spl = text.split('","')
				var daqpulse = spl[0].replace('"', '')
				var synctime = spl[1]
				var daqstate = spl[2]
				var physgbps = spl[3]
				var ibvgbps  = spl[4]
				var antnames = spl[5]
				var obsndrop = spl[6].replace('"', '')
				var ppstatus = spl[7]
				var postproc = spl[8].replace('"', '')
				var obsinfo = spl[9].replace('"', '')

				var text = "<br></br>"
				text += "DAQPULSE " + daqpulse + "<br></br>"
				text += "SYNCTIME " + synctime + "<br></br>"
				text += "DAQSTATE " + daqstate + "<br></br>"
				text += "PHYSGBPS " + physgbps + "<br></br>"
				text += "IBVGBPS&nbsp;&nbsp;" + ibvgbps  + "<br></br>"
				text += "ANTNAMES " + antnames + "<br></br>"
				text += "OBSNDROP " + obsndrop + "<br></br>"
				text += "PPSTATUS " + ppstatus + "<br></br>"
				text += "POSTPROC " + postproc + "<br></br>"
				text += "OBSINFO&nbsp;&nbsp;" + obsinfo
				document.getElementById(nodenum + "_basics").innerHTML = text
			}
		}
	}
	
	class Panel extends React.Component {
		render() {
			return (
				<form action="/node">
				<button className="genericpanel" id={"seti-node" + this.props.nodenum/10 + "/" + this.props.nodenum % 10}  style={{position: this.props.position, top: this.props.top + "%", left: this.props.left + "%", backgroundColor: this.props.color, fontFamily: 'Courier', textAlign: 'left', lineHeight: "7px"}}>
					<b>seti-node{Math.floor(this.props.nodenum/10)}/{this.props.nodenum%10}</b>
					<span id={this.props.nodenum + "_basics"}></span>
				</button>
				<input type="hidden" name="nodenum" value={this.props.nodenum}></input>
				</form>
			);
		}
	}

	class Page extends React.Component {
		render(){
			return (
				<React.Fragment>
					<Panel nodenum={10} top={30} left={15} position={"fixed"} color={"#456789"}/>
					<Panel nodenum={20} top={30} left={36.66} position={"fixed"} color={"#987654"}/>

					<Panel nodenum={30} top={30} left={63.33} position={"fixed"} color={"#456789"}/>
					<Panel nodenum={40} top={30} left={85} position={"fixed"} color={"#987654"}/>

					<Panel nodenum={11} top={70} left={15} position={"fixed"} color={"#456789"}/>
					<Panel nodenum={21} top={70} left={36.66} position={"fixed"} color={"#987654"}/>

					<Panel nodenum={31} top={70} left={63.66} position={"fixed"} color={"#456789"}/>
					<Panel nodenum={41} top={70} left={85} position={"fixed"} color={"#987654"}/>
				</React.Fragment>
			);
		}
	}


	ReactDOM.render(<Page />, document.getElementById('root'))	

	
	var nodenumlist = [10, 11, 20, 21, 30, 31, 40, 41]

	setInterval(function(){ fetchBasics(10)}, 100)
	setInterval(function(){ fetchBasics(11)}, 100)
	setInterval(function(){ fetchBasics(20)}, 100)
	setInterval(function(){ fetchBasics(21)}, 100)
	setInterval(function(){ fetchBasics(30)}, 100)
	setInterval(function(){ fetchBasics(31)}, 100)
	setInterval(function(){ fetchBasics(40)}, 100)
	setInterval(function(){ fetchBasics(41)}, 100)


	setInterval(function(){
		var ping = new XMLHttpRequest;
		ping.open("GET", "/ping")
		ping.send()
	}, 10000)

</script>
</html>
