<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ATA Pipeline Monitor</title>
	<style>
		.page {
			background-color: #123456;
			display: flex;
			flex-direction: column;
			position: absolute;
			min-width: 100%;
			min-height: 100%;
			top: 0;
			left: 0;
		}
		.instancespanel{
			display: flex;
			/* flex-direction: column; */
			justify-content: space-around;
		}

		.genericpanel {
			color: #FFFFFF;
			min-width: 300px;
			min-height: 200px;
			border: none;
			margin: 20px;
			padding: 20px 20px;
			font-family: 'Courier';
			font-size: 14px;
			text-align: 'left';
			line-height: 7px;
		}

		.genericpanel:hover{
			filter: brightness(115%);
		}

		a.panel {
			text-decoration: none;
		}
	</style>
</head>
<body>

	<div id="root"></div> 
	
</body>
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
<script type="text/babel">
	
	function fetchBasicsCallback(nodenum, instancenum, callbackFunc){
		let req = new XMLHttpRequest;
		req.open("GET", "/basics?nodenum=" + nodenum + "&instancenum=" + instancenum)
		req.send()
		
		req.onreadystatechange = function(){
			let keyvalues = null;
			if (this.readyState == 4 && this.status == 200){
				let text = req.responseText.replace("[", "").replace("]", "")
				text = text.replaceAll('null', '"null"')

				let spl = text.split('","')

				keyvalues =
				{
					DAQPULSE: spl[0].replace('"', ''),
					SYNCTIME: spl[1],
					DAQSTATE: spl[2],
					PHYSGBPS: spl[3],
					IBVGBPS:  spl[4],
					ANTNAMES: spl[5],
					OBSNDROP: spl[6].replace('"', ''),
					PPSTATUS: spl[7],
					POSTPROC: spl[8].replace('"', ''),
					OBSINFO:  spl[9].replace('"', '')
				}
			}
			callbackFunc(keyvalues);
		}
	}
	
	class Panel extends React.Component {
		constructor(props) {
			super(props)
			this.state = {
				nodenum: props.nodenum,
				instancenum: props.instancenum,
				backgroundColor: props.color
			}
		}

		componentDidMount() {
			let nodenum = this.props.nodenum;
			let instancenum = this.props.instancenum;
			this.fetchBasicsTimer = setInterval(function(){fetchBasicsCallback(
				nodenum,
				instancenum, 
				(keyvalues) => {
					let text = "<br></br>"
					for (let key in keyvalues){
						text += key.padEnd(10) + keyvalues[key] + "<br></br>" 
					}
					document.getElementById(nodenum + "_" + instancenum + "_basics").innerHTML = text
				}
			)}, 1000)
		}

		componentWillUnMount() {
			clearInterval(this.fetchBasicsTimer);
		}

		render() {
			return (
				<a className="panel" href={"/node?nodenum="+this.state.nodenum+"&instancenum="+this.state.instancenum}>
					<div 
						className="genericpanel" 
						id={"seti-node" + this.state.nodenum + "/" + this.state.instancenum}  
						style={{
							backgroundColor: this.state.backgroundColor
						}}
					>
						<b>seti-node{Math.floor(this.state.nodenum)}/{this.state.instancenum}</b>
						<span id={this.state.nodenum + "_" + this.state.instancenum + "_basics"}></span>
					</div>
				</a>
			);
		}
	}

	class InstancesPanel extends React.Component {
		render(){
			return (
				<div className="instancespanel">
					<React.Fragment>
						{this.props.nodenums.map(
							(nodenum, index) => {
								// console.log(index, this.props.rowtops[this.props.instancenum], this.props.collefts[(nodenum-1)%4], this.props.rowcolors[this.props.instancenum]);
								return <Panel key={"Panel_" + nodenum + "_" + this.props.instancenum} nodenum={nodenum} instancenum={this.props.instancenum} color={this.props.rowcolors[this.props.instancenum]}/>
							}
						)}
					</React.Fragment>
				</div>
			);
		}
	}

	class Page extends React.Component {
		render(){
			return (
				<div className="page">
					<React.Fragment>{
						this.props.instance_nodenums_dicts.map((instance_nodenums, index) =>{
							let instancenum = instance_nodenums["instancenum"]
							let nodenums = instance_nodenums["nodenums"]
							return <InstancesPanel 
								key={"InstancesPanel_" + index}
								instancenum={instancenum}
								nodenums={nodenums}
								rowcolors={this.props.rowcolors}
							/>
						})
					}
					</React.Fragment>
				</div>
			);
		}
	}
	
	ReactDOM.render(<Page 
			instance_nodenums_dicts={[
				{"instancenum":0, "nodenums":[1,2,3,4]},
				{"instancenum":1, "nodenums":[1,2,3,4]},
				{"instancenum":0, "nodenums":[5,6,7,8]},
				{"instancenum":1, "nodenums":[5,6,7,8]},
			]}
			rowcolors={["#456789", "#987654"]}
		/>,
		document.getElementById('root')
	)


	setInterval(function(){
		var ping = new XMLHttpRequest;
		ping.open("GET", "/ping")
		ping.send()
	}, 10000)

</script>
</html>
