<html>
	<head>
		<title>
			ATA Pipeline Monitor
		</title>
	</head>

	<style>
		body {
			background-color: #222;
		}

		.keyvalues {
			display: flex;
			flex-wrap: wrap;
			padding: 0px 2px 4px;
			font-size: 18px;
			color: #FFF;
		}
		.keyvalues:nth-child(odd) {
			color: #999;
		}

		.keyvalue {
			display: flex;
		}
		.key {
			width: 14ch;
		}
		.value {
			text-align: 'left';
			width: 45ch;
		}

		input[type=Submit]:hover{
			filter: brightness(150%);
		}
	</style>

	<body style="display: flex; flex-direction: column;">
		<div style="margin: 10px;">
			<a href="/" style="text-decoration: none;">
				<div style="display: block; position: sticky; background-color: #111; padding: 10px 10px;  font-family: Courier; border: none; color: #aad"">
					<< Home
				</div>
			</a>
		</div>
		<div id="keyvalue_container" class="keyvalues">
		</div>
	</body>

	<script>
		function fetchAll(nodenum, instancenum){
			var req = new XMLHttpRequest
			req.open("GET", "/getall?nodenum=" + nodenum + "&instancenum=" + instancenum)
			req.send()

			req.onreadystatechange = function(){
				if (this.readyState == 4 && this.status == 200){
					var keyvalues = JSON.parse(req.responseText);
					keyvalues = Object.keys(keyvalues).sort().reduce(function (result, key) {
											result[key] = keyvalues[key];
											return result;
										}, {});
					var keyvalues_div = document.getElementById("keyvalue_container")
					keyvalues_div.innerHTML = "";
					for(const key in keyvalues) {
						const value = keyvalues[key];
						let keyvalue_div = document.createElement("div")
						keyvalue_div.setAttribute("class", "keyvalue")
						keyvalue_div.setAttribute("id", "keyvalue_"+key)
						let key_div = document.createElement("div")
						key_div.setAttribute("class", "key")
						key_div.setAttribute("id", "key_"+key)
						key_div.innerText = key;
						let value_div = document.createElement("div")
						value_div.setAttribute("class", "value")
						value_div.setAttribute("id", "value_"+key)
						value_div.innerText = value;

						keyvalue_div.appendChild(key_div)
						keyvalue_div.appendChild(value_div)
						keyvalues_div.appendChild(keyvalue_div)
					}
				}
			}
		}

		params = new URLSearchParams(document.location.search)
		var nodenum = params.get("nodenum")
		var instancenum = params.get("instancenum")
		console.log(nodenum, instancenum)
		fetchAll(nodenum, instancenum)
		setInterval(function(){fetchAll(nodenum, instancenum)}, 500 )


        	setInterval(function(){
                	var ping = new XMLHttpRequest;
                	ping.open("GET", "/ping")
                	ping.send()
        	}, 10000)

	</script>


</html>
